html {
  background: #f9f9f9; 
  color: #312F2F;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 13px;  
}

.container {
  margin: 0 auto;
  width: 800px;
}

/* landing page */ 

#landing { 
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;  
}

#landing form {
  display: inline-block;
}

#landing form input {
  padding: 10px;
  font-size: 16px;
}

/* header posting */

header {
  font-size: 15px;

  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;

  background-color: #333;
  color: #fff;

  z-index: 100;
}

header div {
  padding-top: 18px;
}

header h1 {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;  
}

header form {
  display: inline-block;
  float: right;
}

header form {
  float: right;
}

header input {
  margin-top: -2px;
  padding: 5px;
}

/* posting */ 

#posting {
  margin-top: 100px;
  margin-bottom: 60px;
}

#count {
  margin-bottom: 10px;
}


#title {
  margin-bottom: 30px;
}

#title p {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;

  font-size: 48px;
  line-height: 72px;
}

#title span {
  color: #CC0000;
}



#links {
  margin-bottom: 60px;
}

#links a {
  font-weight: 300;
  padding: 10px 16px;
  border: 1px solid #444;
  border-radius: 5px;
  text-decoration: none;
  background-color: #444;
  color: #FFF;
}

#links a:hover {
  text-decoration: none;
  background-color: #222;
}

/* description */ 

#description {
  line-height: 21px;
  font-size: 14px;
  padding: 20px;
  border: 1px solid #EBE6E6; 
  border-radius: 5px;  
  background-color: #FFF;
}

#description p {
  margin-bottom: 16px;
}

#description ul {
  list-style: disc;
  margin-left: 30px;
  margin-bottom: 15px;
}

#description a {
  color: #528EBD;
}

#description h2, #description h3, #description h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 15px 0;
}

/* hide these views on start */ 

#posting {
  display: none;
}

/* previous and next navigation */ 

#previous, #next {
  position: absolute;
  top: 280px;
}

#job {
  position: relative;
}

#next {
  right: -140px;
}

#previous {
  left: -234px;
}

#next a, #previous a {
  display: block;  

  background: url("../img/arrows.png") no-repeat;
  width: 94px;
  height: 94px;

  overflow: hidden;
  position: fixed;
}

#next a {
  background-position: -10px -284px;  
}

#next a:hover {
  background-position: -10px -415px;
}

#previous a {
  background-position: -10px -20px;  
}

#previous a:hover {
  background-position: -10px -151px;
}

/* when we are searching */ 

#searching span {
  color: #CC0000;  
}

#searching {
  font-size: 15px;
  color: #999;
}
